@font-face {
  font-family: 'SEGA';
  font-style: normal;
  font-weight: normal;
  src: local("SEGA"), url("./fonts/SEGA.TTF") format("truetype");
}

h1 {
  font-family: 'SEGA';
  font-weight: 200;
  color: #0ccac4;
}